body {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

div {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

img {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}